@page
@model PrzepisyWeb.Pages.Recipes.UserPageModel

@{
    ViewData["Title"] = "Przepisy użytkownika - ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="padding: 20px 0 20px 0">Lista przepisów użytkownika</h1>
<h3>
    
    @Html.DisplayFor(model => model.UsernameDisplay)
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
            Nazwa przepisu
            </th>

            <th>
                Składniki
            </th>
            <th>
                Sposób przygotowania
            </th>
            <th>
                Data dodania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RecipeList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            
        </tr>

}
    </tbody>
</table>
